<app-navbar></app-navbar>

<div class="page-wrapper">
  <div class="hero">
    <img src="2.png" alt="PUP" class="bgimg">

    <h1>
      Ensuring each Thesis are <span class="break"> Stored for Future Iskolars</span>
    </h1>

    <p>
      ThesISKO is the official thesis repository of the Polytechnic University of the
      Philippines (PUP), built to archive, preserve, and showcase student research
      across all disciplines. It serves as a digital library where students, faculty, and
      researchers can easily access a wide range of academic works produced
      within the university.
    </p>

    <div class="search-container">
      <input
        type="text"
        placeholder="Look for a thesis"
        [(ngModel)]="homeQuery"
        (keyup.enter)="goSearch()" />
      <button pButton class="search" type="button" (click)="goSearch()">Search</button>
    </div>
  </div>

  <section class="mission-and-goals">
    <div class="content-container">
      <h1 class="main-title">Mission and Goals</h1>
      <div class="mission-section">
        <div class="mission-text">
          <h2 class="sub-title">Our Mission</h2>
          <p class="mission-description">
            ThesISKO exists to make research accessible to everyone. 
            We preserve the hard work of every student and give it a space to be discovered, 
            cited, and shared. Guided by six pillars, we ensure access for all by making 
            research easy to find and read; Preservation by providing a lasting home for 
            student work; Recognition through clear authorship and proper citation; 
            Integrity via ethical sharing, plagiarism awareness, and accurate metadata; Security & Consent
            by honoring privacy levels and authors’ choices; and Community by connecting students, faculty, 
            and future researchers. By opening doors to knowledge, we help ideas travel farther connecting learners, 
            empowering future projects, and recognizing the authors who make it possible.
          </p>
        </div>

        <div class="mission-image">
          <img src="thesiskoLogo.png" alt="thesISKO" class="bgimg">
        </div>
      </div>
    </div>
  </section>

  <section class="officials-and-staffs">
    <div class="content-container">
      <h1>Meet the Developers</h1>
      <div class="staff-cards">
        <div class="staff-card">
          <div class="profile-image-container">
            <div class="profile-image Esplana">
              <img src="Esplana.jpg" alt="developer"  class="profile-img" >
            </div>
          </div>
          <div class="staff-info">
            <h3>Vincent Esplana</h3>
            <p>Frontend Developer</p>
          </div>
        </div>

        <div class="staff-card">
          <div class="profile-image-container">
            <div class="profile-image Evangelista">
              <img src="Evangelista.JPG" alt="developer"  class="profile-img" >
            </div>
          </div>
          <div class="staff-info">
            <h3>Christopher Bryan Evangelista</h3>
            <p>Full Stack Developer</p>
          </div>
        </div>

        <div class="staff-card">
          <div class="profile-image-container">
            <div class="profile-image Galicia">
              <img src="Galicia.jpg" alt="developer"  class="profile-img" >
            </div>
          </div>
          <div class="staff-info">
            <h3>Ma. Angela Galicia</h3>
            <p>Backend Developer</p>
          </div>
        </div>

        <div class="staff-card">
          <div class="profile-image-container">
            <div class="profile-image SanGabriel">
              <img src="SanGabriel.jpeg" alt="developer"  class="profile-img" >
            </div>
          </div>
          <div class="staff-info">
            <h3>Yasmine Reign San Gabriel</h3>
            <p>Frontend Developer & UI/UX</p>
          </div>
        </div>

        <div class="staff-card">
          <div class="profile-image-container">
            <div class="profile-image Tabagan">
              <img src="Tabagan.png" alt="developer" class="profile-img">
            </div>
          </div>
          <div class="staff-info">
            <h3>Keila Tabagan</h3>
            <p>Backend Developer & UI/UX</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-section">
    <div class="content-container">
      <h1>Got some concerns? Connect with us!</h1>
      <form class="contact-form">
        <div class="form-group-grid">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Your Name" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Your Email Address" />
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" placeholder="The Subject of your Message" />
          </div>
          <div class="form-group message-area">
            <label for="message">Message</label>
            <textarea id="message" rows="5" placeholder="Write your message here"></textarea>
          </div>
          <div class="form-group submit-button-area">
            <button type="submit" class="submit-button">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<app-footer></app-footer>
