<app-navbar></app-navbar>

<div class="page-wrapper">
<div class="hero"> 
  <img src="2.png" alt="PUP" class="bgimg">
  <h1>
    Thesis mula sa isko, <span class="break">para sa bayan</span>
  </h1>      
  <p>Build the archive with us. free to publish, 
    simple to search, and designed for discovery. 
    Upload your manuscript, showcase your authorship, 
    and help the next generation of iskolar move ideas forward.</p>

  <div class="search-container">
    <input
      type="text"
      placeholder="Look for a thesis"
      [(ngModel)]="homeQuery"
      (keyup.enter)="goSearch()" />
  
    <!-- PrimeNG directive button -->
    <button pButton class="search" type="button" (click)="goSearch()">Search</button>
  </div>
</div> 
</div>

<div class="carousel-container">
  <h3 class="carousel-title">Check this Out</h3>

  <div class="carousel-shell">
    <p-carousel
      [value]="updates"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="3000"
      class="custom-carousel">

      <ng-template pTemplate="item" let-item>
        <div
          class="carousel-box"
          role="button"
          tabindex="0"
          (click)="navigateToRecord(item)"
          (keyup.enter)="navigateToRecord(item)"
          (keyup.space)="navigateToRecord(item)">

          <h3 class="title">{{ item.title }}</h3>
          <p class="date">Date Issued: {{ item.submitted_at | date:'MMM d, y' }}</p>
          <p class="authors">Authors: {{ item.authors?.length ? item.authors.join(', ') : 'N/A' }}</p>


          <div class="tags">Tags: {{ item.tags?.length ? item.tags.join(', ') : 'None' }}</div>
          
          <p class="access">Access Level: {{ item.access_level || 'Unknown' }}</p>
          <p class="section-text" style="white-space: pre-wrap;">
            {{ item.abstract }}
          </p>
          
        </div>
      </ng-template>

    </p-carousel>
  </div>
</div>

  
  <div class="containerSubmitWork">
    <div class="inner">
      <div class="leftside">
        <h1>
          Want to Submit <span class="break">Your Work?</span>
        </h1>
        <p>Publish with pride! register using Iskolarngbayan, upload, and reach the readers who matter.</p>
        <p-button class="submit" routerLink="/submission">Submit Work</p-button>
      </div>
  
      <div class="rightside">
        <div class="instructions">Upload Thesis and Certification of Completion</div>
        <div class="instructions">Enter Tags, Abstract and Metadata</div>
        <div class="instructions">Choose Access Level for your Thesis</div>
        <div class="instructions">Wait for the Admin to Verify all your files</div>
      </div>
    </div>
  </div>
  
  
<app-footer> </app-footer>