# Dependencies
node_modules/

# Logs
logs/
*.log

# Environment
.env
*.env
config.env
server/config.env

# Build & Cache
dist/
build/
out/
.angular/
client/.angular/
.next/
.cache/
coverage/
.tmp/
temp/
.eslintcache
.stylelintcache
.sass-cache/
*.tsbuildinfo

# IDE / Editor
.vscode/
.idea/
.history/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
Desktop.ini

# Deployment
.vercel/

# Yarn Plug'n'Play
.pnp.cjs
.pnp.loader.mjs
.pnp.data.json

# Ignore Thesisko folder
/Thesisko/

# Angular & Vite cache
client/.angular/cache/
client/vite/
client/*.tsbuildinfo
