<aside class="sidebar-container">
    <div class="logo">ThesISKO</div>
    <nav class="sidebar-nav">
        <a routerLink="/admin-dashboard" routerLinkActive="active" class="sidebar-item">Dashboard</a>
        <a routerLink="/admin-documents" routerLinkActive="active" class="sidebar-item">Documents</a>
        <a routerLink="/admin-departments" routerLinkActive="active" class="sidebar-item">Departments</a>
        <a routerLink="/admin-chairpersons" routerLinkActive="active" class="sidebar-item">Chairpersons</a>
    </nav>
    <div class="logout-container">
        <a href="#" class="sidebar-item logout-button">Logout</a>
    </div>
</aside>
