<app-navbar></app-navbar>

<div class="thank-you-page">
  <div class="thank-you-content">
    <h1 class="thank-you-title">Thank you so much, Iskolar!</h1>
    <p class="thank-you-message">Thank you for your submission! Rest assured that your hard work and dedication will not go to waste. </p>
    <p class="thank-you-message">May this serve as a stepping stone for your paper to be recognized and make a meaningful impact in your field.</p>
    
    <button class="btn btn-primary" (click)="goToHome()">Back to Home</button>
  </div>
</div>

<app-footer></app-footer>