<p-toolbar class="navbar">
    <ng-template #start>
      <div class="nav-left">
        <h2 class="logo">ThesISKO</h2>
        <p-button label="Home" text plain routerLink="/home"></p-button>
        <p-button label="Search" text plain routerLink="/search-thesis"></p-button>
        <p-button label="About" text plain routerLink="/about-us"></p-button>
        <!-- modified the submit button to show pop up. Can't authorize yet so double click "Submit" to show the pop up login-->
        <p-button label="Submit" text plain routerLink="/submission" (click)="openLoginModal()"></p-button>
      </div>
    </ng-template>
  
    <ng-template #end>
      <p-button 
        class = dark
        label="Login" 
        styleClass="login-button p-button-rounded p-button-warning" 
        routerLink="/login">
      </p-button>
    </ng-template>
  </p-toolbar>

<!-- Adding in the component for pop up login -->
<app-login-modal 
  [isVisible]="isLoginModalVisible" 
  (close)="closeLoginModal()">
</app-login-modal>
  